@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/main/main.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/buttons/buttons.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__main-info/profile__main-info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/cards-section/cards-section.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__img/card__img.css);
@import url(../blocks/card/__items/card__items.css);
@import url(../blocks/card/__capture/card__capture.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_active/card__like-button_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/_opened/popup_opened.css);

@import url(../blocks/popup/__gallery/popup__gallery.css);
@import url(../blocks/popup/__img-gallery/popup__img-gallery.css);
@import url(../blocks/popup/__figure/popup__figure.css);
@import url(../blocks/popup/__figcaption/popup__figcuption.css);
@import url(../blocks/card/__delete-button/card__delete-button.css);