.popup__input {
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .20);
  margin: 0 auto 28px auto;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding-bottom: 9px;
  padding-top: 3px;
  outline: none;
}

@media screen and (max-width: 630px) {
  .popup__input {
    width: 238px;
  }
}

